#dnd {    
    color: #555;
    height:250px;
    padding-top: 10px;
	padding-bottom:20px;
    margin: 20px;
	text-align:center;
    
    background: #eee;
    border: 1px dashed #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border-bottom-style:dashed;
}
#dnd .title{
    font-size: 20px;
}
.dnd-progress, .dnd-info{
	float:left;
	font-size:10px;
}
.dnd-progress{
	background:#0F3;
}
#dnd.hover {
    background: #ddd;
    border-color: #aaa;
}

#dnd.error {
    background: #faa;
    border-color: #f00;
}

#dnd.drop {

}
#dnd .preview{
	width:150px;
	float:left;
	margin: 15px 0 0 20px;
	position: relative;
	text-align: center;
}

#dnd .preview img{
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dnd .image-container{
	display: inline-block;
	position:relative;
}